@charset "utf-8";
/*css document*/

nav {
    background-color: #3D527A;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: top;
    text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}

h1, h2, h4, h5{
    margin: 0;
    padding: 0;

}

li, ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color:#F7BC6E;
    text-decoration: none;
    font-size: 24px;
    cursor: auto;
    padding: 44px;
  }
  
  a:hover {
    color: #ffffff;
    transition-duration: .3s;
  }

  a:link:active, a:visited:active {
    color: (internal value);
  }

body {
    background-color: #15294F;
    margin: 0;
    padding: 0;
}

.centered_h3 {
    text-align: center;
    font-size: 48px;
}

.linebreak {
    background-color: #6493EA;
    width: 100%; 
    height: 30px;
   
}

.mobile_menu_burger {
    width: 60px;
    height: 60px;
    position: fixed;
    top: left;
    left: 40px;
    display: none;
    transition: 0.3s;
}

.mobile_tablet_menu {
    background-color: #3D527A;
    display: none;
}

.mobile_tablet_menu a:hover {
    transition: none;
}

.link_padding {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.reveal_mtm {
    display: none;
    position: fixed;
    width: 100%;
}

button {
    background-color: #ffffff;
    width: 100px;
    height: 50px;
    position: fixed;
    border-radius: 25px;
    border-style: solid;
    border-color: #15294F;
    border-width: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    right: 90px;
    top: 20px;
    padding: 5px;
    margin-top: 10px;
} 

.n_switch {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 35px;
    right: 95px;
    padding: 5px;
    background:#452DF6;
    border-radius:40px;
}

.d_switch {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 35px;
    right: 145px;
    padding: 5px;
    background: #F7BC6E;
    border-radius: 40px;
}


.header {
    color: #48628B;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url(../images/Orange_inversion_web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: auto;
    height: 515px; 
}

.header_text {
    animation-name: fade_in;
    animation-duration: 2s;
}

.header_image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0px 8px 4px 0px rgba(44, 22, 115, 0.25);
    animation-name: fade_in;
    animation-duration: 2s;
}

.header_h1 {
    font-size: 48px;

}

.header_h2 {
    font-size: 24px;
}

.header_h3 {
    font-size: 48px;
    color: #ffffff;
}

.h_spacing {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header_h4 {
    color: #FFffff;
    font-size: 36px;
    text-align: center;
}

/* makes the header content not stick to the top */
.float_info {
    padding-top: 120px;
}

.about_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 50px;
}

.about_image {
    width:325px;
    height:325px;
    border-radius:50%;
    border: 5px solid #ffffff;
}


.about_text {
    color: #ffffff;
    font-size: 20px;
    width: 530px;
    padding-left: 20px;
}

.skills {
    background-color: #38302B;
}

.skill_svg_size {
    height: 75px;
    width: 75px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* start svg sectioooon bullshittery */

.paintbrush {
    background-image: url(../images/paintbrush_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.canvas {
    background-image: url(../images/image_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.camera {
    background-image: url(../images/camera_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.gear {
    background-image: url(../images/gear_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.photoshop {
    background-image: url(../images/photoshop_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.indesign {
    background-image: url(../images/indesign_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.clipstudio {
    background-image: url(../images/clip_studio_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.blender {
    background-image: url(../images/blender_dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* end svg bullshittery */

.h5_skill {
    font-size: 24px;
    padding: 10px 0 10px 0;
}

.skill_pair {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 15px;
}

.skill_column {
   display: flex;
   flex-direction: row;
   padding-top: 40px;
   padding-bottom: 40px;
   justify-content: center;
   gap: 15px;
}

.skill_box {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 245px;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.dropdown_toggle {
    background-color: #F7BC6E;
    font-size: 32px;
    max-width: 650px;
    min-width: 350px;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* this controls the appearance of the faq lower container */
.dropdown_container {
    background-color: #000000;
    max-width: 650px;
    min-width: 350px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    margin-right: auto;
    margin-left: auto;
}

/* this controls the text in the FAQ container */
.faq_text {
    color:#ffffff;
    font-size: 20px;
    text-align: left;
    padding: 25px;
}


.commissions {
    background-color: #38302B;
    padding-top: 100px;
    padding-bottom: 125px;
}

.picture {
    width:100%;
    max-height:350px;
    min-width: 175px;
    object-fit: cover;
}


/* This is for how the gallery images display, and their padding*/
div.pair {
    display: flex;
    flex-direction: row;
    gap: 34px;
    padding-bottom: 50px;
    justify-content: center;
}

/* This section controls the height of the border and color around all the images*/
div.example_images {
    max-width: 600px;
    max-height: 530px;  
    width: 100%;
    background-color: #000000;
    margin-bottom: 25px;
}

/* start Lightbox Section */

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox img {
    border-radius: 20px;
    border: 4px solid #5e87c8;
    height: auto;
    width: auto;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Lightbox Section*/

/* This controls the size of the title */
.gallery_title {
    font-size: 36px;
    color: #ffffff;
}

/* This controls the image info text */
.gallery_dimen {
    font-size: 20px;
    color: #ffffff;
    padding-top: 5px;
    font-style: italic;
}

/* this controls the size and color of gallery descriptions */
.gallery_desc {
    font-size: 16px;
    color: #ffffff;
    padding-top: 5px;
}

/* This section adds padding around all the text elements in the description*/
div.description {
    padding: 10px;
}

.copyright {
    background-color: #3D527A;
    color: #F7BC6E;
    font-size: 16px;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: bottom;
    text-align: center;
}

@keyframes fade_in {
    0% {opacity: 0}
    100% {opacity: 1}
}
