@charset "utf-8";
/*css document*/

nav{
    background-color: #F7BC6E;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: top;
    text-align: center;
}

body{
    background-color: #ffffff;
}

