@charset "utf-8";
/*css document*/

nav {
    background-color: #F7BC6E;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: top;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;

}

li, ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.linebreak {
    background-color: #F7BC6E;
    width: 100%; 
    height: 30px;
   
}

.header {
    color: #48628B;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url(../images/true_blue_short.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 250px; 
}

.skills {
    background-color: #48628B;


}


.dropdown_toggle {
    border-radius: 0, 10, 10, 0;
    background-color: #48628B;
    font-size: 32px;
    width: 672px;
    color: #ffffff;
    padding: 20px;
}

.dropdown_container {
    background-color: #FFDFB5;
    width: 672px;
    padding: 20px;
    padding-bottom: 17px;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}

.commissions {
    background-color: #48628B;
    padding-top: 125px;
    padding-bottom: 125px;
}

.picture {
    width:100%;
    height:350px;
    object-fit: cover;
}

/* This is for how the gallery images display, and their padding*/
div.pair {
    display: flex;
    flex-direction: row;
    gap: 34px;
    padding-left: 98px;
    padding-right: 98px;
    padding-bottom: 51px;
}

/* This section controls the height of the border and color around all the images*/
div.example_images {
    width: 600px;
    height: 530px;  
    background-color: rgba(217, 217, 217, 0.35);
    margin-bottom: 25px;
}

/* This section adds padding around all the text elements in the description*/
div.description {
    padding: 10px;
}

.copyright {
    background-color: #F7BC6E;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: bottom;
    text-align: center;
}