@charset "utf-8";
/*css document*/

nav {
    background-color: #F7BC6E;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: top;
    text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 48px;
}

h1, h2, h4, h5{
    margin: 0;
    padding: 0;

}

li, ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    cursor: auto;
    padding: 44px;
  }
  
  a:hover {
    color: #ffffff;
    transition-duration: .3s;
  }

  a:link:active, a:visited:active {
    color: (internal value);
  }

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.centered_h3 {
    text-align: center;
    font-size: 48px;
}

.linebreak {
    background-color: #F7BC6E;
    width: 100%; 
    height: 30px;
   
}

.mobile_menu_burger {
    width: 35px;
    height: 35px;
    position: fixed;
    top: left;
    left: 40px;
    display: none;
    transition: 0.3s;
}

/*this will be a jscript */
.mobile_menu_burger-rotate {
    transform: rotate(180deg);
}

.mobile_tablet_menu {
    background-color: #FFDFB5;
    display: none;
}

.mobile_tablet_menu a:hover {
    transition: none;
}

.link_padding {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: #48628B;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url(../images/true_blue_short.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: auto;
    height: 515px; 
}

.header_text {
    animation-name: fade_in;
    animation-duration: 2s;
}

.header_image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid#F7BC6E;
    box-shadow: 0px 8px 4px 0px rgba(44, 22, 115, 0.25);
    animation-name: fade_in;
    animation-duration: 2s;
}

.header_h1 {
    font-size: 48px;
}

.header_h2 {
    font-size: 24px;
}

.header_h3 {
    font-size: 48px;
    color: #ffffff;
}

.h_spacing {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header_h4 {
    color: #FFffff;
    font-size: 36px;
    text-align: center;
}

/* makes the header content not stick to the top */
.float_info {
    padding-top: 120px;
}

.about_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 50px;
}

.about_image {
    width:325px;
    height:325px;
    border-radius:50%;
    border: 5px solid #000;
}


.about_text {
    font-size: 20px;
    width: 530px;
    padding-left: 20px;
}

.skills {
    background-color: #48628B;
}

.skill_svg_size {
    height: 75px;
    width: 75px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.h5_skill {
    font-size: 24px;
    padding: 10px 0 10px 0;
}

.skill_pair {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 15px;
}

.skill_column {
   display: flex;
   flex-direction: row;
   padding-top: 40px;
   padding-bottom: 40px;
   justify-content: center;
   gap: 15px;
}

.skill_box {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 245px;
    border-radius: 30px;
    background-color: #ffffff;
    text-align: center;
}


.dropdown_toggle {
    background-color: #48628B;
    font-size: 32px;
    max-width: 672px;
    min-width: 350px;
    color: #ffffff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* this controls the appearance of the faq lower container */
.dropdown_container {
    background-color: #FFDFB5;
    max-width: 672px;
    min-width: 350px;
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* this controls the text in the FAQ container */
.faq_text {
    font-size: 20px;
    text-align: left;
    padding: 20px;
}


.commissions {
    background-color: #48628B;
    padding-top: 100px;
    padding-bottom: 125px;
}

.picture {
    width:100%;
    max-height:350px;
    min-width: 175px;
    object-fit: cover;
}

/* This is for how the gallery images display, and their padding*/
div.pair {
    display: flex;
    flex-direction: row;
    gap: 34px;
    padding-bottom: 50px;
    justify-content: center;
}

/* This section controls the height of the border and color around all the images*/
div.example_images {
    max-width: 600px;
    max-height: 530px;  
    width: 100%;
    background-color: rgba(217, 217, 217, 0.35);
    margin-bottom: 25px;
}

/* This controls the size of the title */
.gallery_title {
    font-size: 36px;
    color: #ffffff;
}

/* This controls the image info text */
.gallery_dimen {
    font-size: 20px;
    color: #ffffff;
    padding-top: 5px;
    font-style: italic;
}

/* this controls the size and color of gallery descriptions */
.gallery_desc {
    font-size: 16px;
    color: #ffffff;
    padding-top: 5px;
}

/* This section adds padding around all the text elements in the description*/
div.description {
    padding: 10px;
}

.copyright {
    background-color: #F7BC6E;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 20px;
    position: bottom;
    text-align: center;
}

@keyframes fade_in {
    0% {opacity: 0}
    100% {opacity: 1}
}